:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #a77ed2, #4576cb);
  min-height: 100vh;
  color: white;
}

.my-purple{
  background-color: #3e49e1;
}

.channel-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channel-name-li{
  display: flex;
  flex-direction: column;
  justify-content:left;
}

.delete-btn{
  margin-top: 12px;
  max-width: 20%;
}

.users-btn{
  margin-top: 12px;
  max-width: 70%;
}

.channel-users-div{
  display: flex;
  flex-direction: column;
}

.flex-end{
  display: flex;
  justify-content: right;
}